.contact-card{
  width: 50%;
  margin: 10px auto;
  font-size: 30px;
}
.contact-title{
  font-size: 30px;
  padding: 5px;
}

.contact-text{
  padding: 10px;
  margin: 15px 10px 10px 10px;
  font-size: 30px;
}

.left-panel{
  border-right: 1px solid #CBCBCB;
}

.bottom-panel{
  text-align: center;
}
