<mat-card class="contact-card">
  <mat-card-title class="contact-title">Get in Touch!</mat-card-title>

  <mat-card-content class="border-top card-content">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div class="left-panel" fxFlex="50">
        <div fxFlex="25">
          <div class="contact-text">Phone:</div>
          <div class="contact-text">Fax:</div>
        </div>
        <div fxFlex="75">
          <div class="contact-text">(123) 456-7891</div>
          <div class="contact-text">(123) 456-7892</div>
        </div>
      </div>


      <div class="right-panel" fxFlex="50">
        <div fxFlex="25">
          <div class="contact-text">Address:</div>
        </div>
        <div fxFlex="75">
          <div class="contact-text">1234 Node St.</div>
          <div class="contact-text">Ameri Town, NE</div>
          <div class="contact-text">68104, USA</div>
        </div>
      </div>
    </div>

    <div class="bottom-panel border-top">
      <div class="contact-text">Email: support@nodebucket.com</div>
    </div>

  </mat-card-content>
</mat-card>
