<mat-card class="about-card">
  <mat-card-content>
    <div fxLayout="row wrap">
      <div fxLayout="col" class="title-section">
        <mat-card-title class="title-style">Node<br>Bucket</mat-card-title>

      </div>
      <div fxLayout="col" class="text-section">
        <p>NodeBucket is a minimalist task tracking application that allows users to visually
          monitor their progress. Built on the MEAN stack for my Web-450 Capstone course, this
          project is 1 of 2 final projects demonstrating an understanding of the resources used
          to construct it. Feel free to explore the functionality and the code over on my
          <a href="https://github.com/gunnerbradley/nodebucket" alt="link to GitHub repository"> GitHub page.</a></p>

      </div>
    </div>
  </mat-card-content>
</mat-card>
