<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="mat-elevation-z0 main-list">
      <br /><br />
      <mat-card-title class="title">To-Do List</mat-card-title>
      <hr>
      <div fxLayout="row">
         <div fxLayout="column" fxFlex="100%" class="new-task-forum">
          <mat-card-subtitle class="subtitle">Add New Task</mat-card-subtitle>
          <form [formGroup]="taskForm" method="post">
            <input matInput formControlName="text" type="text" class="task-input" (keydown.enter)="newTask()" placeholder="Enter Task...">
            <button (click)="newTask()">Add+</button>
          </form>
        </div>
        </div>

<hr>
      <mat-card-content>
        <div fxLayout="column" fxFlex="50%" class="list todo-list">

        <mat-card-subtitle class="subtitle">To-Do</mat-card-subtitle>
        <ul>
          <li class="item ">Buy Milk
            <button class="x-button">
              <img
                src="../../../assets/icons/x-symbol.svg"
                alt="Remove task item button"
                height="20"
                width="20"
                class="x-icon"
                />
            </button>
          </li>
        </ul>

        </div>

        <div fxLayout="column" fxFlex="50%" class="list">
          <mat-card-subtitle class="subtitle">Done</mat-card-subtitle>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
