<mat-card class="main-content">
  <mat-card-content>
    <div fxLayout="row wrap">
      <div fxFlex>

          <br /><br />
          <mat-card-title class="title">To-Do List</mat-card-title>
          <hr>
<!-- new task form -->
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="100%" class="new-task-forum">
              <mat-card-subtitle class="subtitle">Add New Task</mat-card-subtitle>
              <form [formGroup]="taskForm" method="post">
                <input matInput formControlName="text" type="text" class="task-input" (keydown.enter)="newTask()" placeholder="Enter Task...">
                <button (click)="newTask()" class="task-submit">Add+</button>
              </form>
            </div>
          </div>
  <hr>
<!-- list section -->
        <div cdkDropListGroup>

          <div class="todo-list" fxFlex="50%">
            <mat-card-subtitle class="subtitle">To-Do</mat-card-subtitle>

            <div
              cdkDropList
              [cdkDropListData]="toDo"
              class="list"
              (cdkDropListDropped)="drop($event)">

              <div class="item" *ngFor="let item of toDo" cdkDrag>
                {{item.text}}
                <button class="x-button" (click)="deleteTask(item._id)">
                    <img
                      src="../../../assets/icons/x-symbol.svg"
                      alt="Remove task item button"
                      height="20"
                      width="20"
                      class="x-icon"
                      />
                  </button>
              </div>
            </div>
          </div>

          <div class="done-container" fxFlex="50%">
            <mat-card-subtitle class="subtitle">Done</mat-card-subtitle>
            <div
              cdkDropList
              [cdkDropListData]="done"
              class="list"
              (cdkDropListDropped)="drop($event)">

              <div class="item" *ngFor="let item of done" cdkDrag>
                {{item.text}}
                <button class="x-button" (click)="deleteTask(item._id)">
                    <img
                      src="../../../assets/icons/x-symbol.svg"
                      alt="Remove task item button"
                      height="20"
                      width="20"
                      class="x-icon"
                      />
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
