<mat-toolbar class="navbar-container">
  <mat-toolbar-row class="navbar-container">
    <div class="logo">Node Bucket</div>

    <div style="width: 80%">
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/about">About</button>
        <button mat-button routerLink="/contact">Contact Us</button>
        <button mat-button (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<hr class="hr-style">

<div fxLayout="row wrap">
  <div fxFlex>
        <router-outlet></router-outlet>
  </div>
</div>


